<div id="container">
    <canvas id="sparks" width="320" height="320"></canvas>
    <div id="mm" style="font-family:monospace">no accel data.</div>
	<div id="hold-feedback" style="font-family:monospace">button not pressed.</div>
	<div id="jump-feedback" style="font-family:monospace">currently not airborne.</div>
	<p><button id="onoff">run/stop</button>
		<button id="hold">HOLD</button></p>
</div>

<%= javascript_include_tag "game" %>