<div id="debug">
	<div class="panel clearfix">
	    <canvas id="sparks" width="300" height="60"></canvas>
	    <div class="output clearfix">
		    <div id="mm" class="next">no accel data.</div>
		    <div id="hold-feedback" class="next"></div>
			<div id="jump-feedback" class="next"></div>
		</div>
	</div>
</div>