<div class="row">
	<div class="span12">
		<div id="container">
			<div id="hold-feedback" style="font-family:monospace">button not pressed.</div>
			<div id="jump-feedback" style="font-family:monospace">currently not airborne.</div>
		    <canvas id="sparks" width="280" height="120"></canvas>
		    <div id="mm" style="font-family:monospace">no accel data.</div>
		</div>
	</div>
</div>