<div id="debug">
	<div id="hold-feedback" style="font-family:monospace">button not pressed.</div>
	<div id="jump-feedback" style="font-family:monospace">currently not airborne.</div>
    <canvas id="sparks" width="100" height="60"></canvas>
    <div id="mm" style="font-family:monospace">no accel data.</div>
</div>