<div class="row">
	<div class="span12">
		<h1 id="message-output">Get ready to leap!</h1>
		<p>Donec id neque et libero accumsan imperdiet in et nisl. Curabitur leo metus, viverra et interdum id, interdum sed dui.</p>
		<div><a id="hold-button"></a></div>
		<div id="container">
			<div id="hold-feedback" style="font-family:monospace">button not pressed.</div>
			<div id="jump-feedback" style="font-family:monospace">currently not airborne.</div>
		    <canvas id="sparks" width="280" height="120"></canvas>
		    <div id="mm" style="font-family:monospace">no accel data.</div>
		</div>
		
		<p><%= link_to 'Back', root_url, :class => 'btn btn-large' %></p>
		
	</div>
</div>

<%= javascript_include_tag "leap" %>
