<div class="row">
	<div class="span12">
		<h2>About</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit erat ac libero tempus congue. Maecenas id arcu in eros rhoncus dictum vitae ut ligula. Sed posuere, turpis at porta hendrerit, massa ligula pulvinar nibh, vel pellentesque massa orci vel purus. Nullam a nulla vel neque porta gravida. In tristique lectus non mauris tristique quis facilisis est auctor. Praesent et nunc id risus vestibulum ornare non a neque. Vestibulum vitae augue vestibulum nunc porttitor faucibus vel faucibus urna. Maecenas non massa urna. Donec dictum ullamcorper placerat. Vestibulum hendrerit dictum dui vel suscipit. Aenean sollicitudin porttitor gravida. Duis pharetra tempus risus, ut gravida arcu venenatis quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p>Integer mollis, tortor a molestie pulvinar, neque urna rutrum nibh, eget vestibulum magna nisl sit amet felis. Ut dapibus pretium hendrerit. Aliquam dolor arcu, pellentesque sit amet fermentum vitae, facilisis convallis felis. In dictum commodo sem ut posuere. Donec porta, nibh eu tempus congue, sapien massa varius nibh, nec auctor orci orci eu risus. Donec euismod lorem ut enim dapibus a semper erat bibendum. Quisque erat sem, accumsan laoreet pharetra sit amet, euismod in nulla. Nam lacinia leo id quam consectetur sit amet sagittis massa fermentum. Ut sed lorem metus, ut pellentesque eros. In hac habitasse platea dictumst. Nullam lacinia nulla id arcu bibendum ut cursus ante elementum. Aenean egestas tincidunt augue ac vestibulum.</p>
		<p>
			<%= link_to 'Back', root_url, :class => 'btn btn-large' %>
			or
			<%= link_to 'Start', step1_url, :class => 'btn btn-large btn-primary' %>
		</p>
	</div>
</div>