<div class="row">
	<div class="span12">
		<h2>Leap For Loaves</h2>
		<p>Donec id neque et libero accumsan imperdiet in et nisl. Curabitur leo metus, viverra et interdum id, interdum sed dui. Integer dignissim lectus ut sapien ornare pharetra. Nullam placerat enim et ipsum bibendum et semper elit commodo. Sed facilisis posuere adipiscing. Cras eu ornare magna. Fusce urna nunc, pulvinar in porttitor ut, sollicitudin eget odio. Nulla semper luctus sapien, sed malesuada justo laoreet at. Pellentesque a magna non lectus ornare interdum. Morbi vestibulum, neque sit amet interdum aliquet, risus libero eleifend velit, et tempor tellus est at nisl. Vestibulum scelerisque eros consectetur libero tincidunt tempus. Proin nec leo a enim consequat faucibus vitae eu ante. Pellentesque eget urna ac elit convallis sollicitudin. Quisque vitae nibh ac nisl aliquam pellentesque.</p>
		<p>
			<%= link_to 'About', about_url, :class => 'btn btn-large' %>
			or
			<%= link_to 'Start', leap_url, :class => 'btn btn-large btn-primary' %>
		</p>
	</div>
</div>