#sparks {
	background-color: #000;
}
.leap-item {
	background-color: #eee;
	text-align: center;
	margin-bottom: 30px;
}

#hold-button {
	display: inline-block;
	width: 120px;
	height: 80px;
	background: url('/img/fpo-press-here-button.png') no-repeat;
}