
#leap {
	
	$height: 300px;
	$padding: 10%;
	
	.measuring {
		position: relative;
		background-color: #eee;
		float: left;
		width: 30%;
		height: $height;
		
		.ruler {
			position: absolute;
			top: 10px;
			left: $padding;
			height: $height - 20px;
			overflow: hidden;
			
			.numbers {
				// nothing
			}
		}
	}
	
	.actions {
		position: relative;
		//background-color: #e0e0e0;
		float: right;
		width: 70%;
		height: $height;
		
		.output {
			position: absolute;
			top: 0px;
			right: $padding;
			padding-left: $padding;
			text-align: right;
		}
		
		.button {
			position: absolute;
			bottom: 0px;
			right: $padding;
			height: 80px;
			
			a {
				display: inline-block;
				width: 120px;
				height: 80px;
				background: url('/img/fpo-press-here-button.png') no-repeat;				
			}
		}
	}
	
}

#result {
	display: none;
}